/* BottomNav.css */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #484848; /* Dark grey background */
}

.bottom-nav-action-root {
    min-width: 0; /* Reduce the minimum width */
    padding: 6px 12px; /* Adjust padding for each item */
}

.bottom-nav-action-root .Mui-selected,
.bottom-nav-action-root .MuiButtonBase-root:hover {
    color: #4CAF50; /* Green color for selected or hovered items */
}

.bottom-nav-icon {
    font-size: 1.5rem; /* Increase icon size */
}

