.expense-form-fields {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #7e9af6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* stack children vertically */
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap; 
}

@media (max-width: 600px) {  
    .form-content {
        flex-direction: column;
    }
}