body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #333;
}

form {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #ccc;  /* Added this line */
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"], input[type="number"], input[type="date"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px 12px;
}

th {
  background-color: #007BFF; 
  color: #fff;                
  text-align: left;
}

/* Base/mobile-first styles */
body {
  font-size: 16px;
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  display: block;
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
  table-layout: fixed;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}



.delete-button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.delete-button:active, .delete-button:focus {
  outline: none;
  box-shadow: none;
}

.delete-button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.editExpense-button:active, .editExpense-button:focus {
  outline: none;
  box-shadow: none;
}

.editExpense-button {
  background: none;
  border: none;
  padding: 0;
  padding-right: 15px;
  outline: none; /* This is to remove the default focus outline; use with caution */
}

.actions-column {
  width: 80px;  /* or whatever width you desire */
}

.actions-column button {
  margin-right: 5px;  /* adjust as desired */
}

.budget-display {
  display: flex;
  justify-content: space-between;
}


.budget-update {
  text-align: right;
}

.label {
  background-color: #065fe6;  /* Example: red shade */
  color: #fff;  /* White text color */
  padding: 5px;
  border-radius: 5px;
}

span {
  color: #efefef;  /* Example: orange text for value */
  font-style: italic;
  font-weight: bold;
}

.budget-display {
  display: flex;  /* This will align your items horizontally */
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

/* Tablet styles */
@media (min-width: 768px) {
  /* styles for tablets or larger screens */
}

/* Desktop styles */
@media (min-width: 1024px) {
  /* styles for desktops or larger screens */
}

@media (max-width: 600px) {
  .budget-display {
      flex-direction: column;  /* This will stack your items vertically */
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
}

.header-left h1 {
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}